:root{
    /*Colors*/
    --background__main__color: #1e2d3b;
    --background__header__color: #2e3a46;
    --background__img__color: #2e3a46;
    --main__title__color: #ffffff;
    --main__subtitle__color: #808080;
}